{% load static %}
{% load news_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
<header>
    <h2>News site</h2>
</header>
<section>
    <article>
        {% block content %}
        {% endblock %}
    </article>

    <nav>
        <ul>
            <h2>Navigation bar</h2>
            <li>
                <p>This is my news site</p>
            </li>
            <li>
                <p>Articles was published - {% total_articles %}</p>
            </li>
            <h3>Latest articles</h3>
            {% show_latest_articles 2 %}


            <a href="{% url 'news:article_list' %}">
                Home
            </a>
        </ul>
    </nav>
</section>

<footer>
    Footer
</footer>
</body>
