{% extends "news/base.html" %}
{% block title %} {{ article.headline }} {% endblock %}
{% block content %}
    <h1>{{ article.headline }}</h1>
    <p class="pdate">
        Published {{ article.publish }} by {{ article.reporter }}
    </p>
    {{ article.content }}


    <a href="{% url 'news:article_share' article.id %}">
        Share this news!
    </a>

    <h2>Similar articles</h2>
    {% for article in similar_articles %}
    <p>
        <a href="{{ article.get_absolute_url }}">{{ article.headline }}</a>
    </p>
    {% empty %}
    There are no similar articles.
    {% endfor %}

    {% with comments.count as total_comments %}
        <h2>
            {{ total_comments }} comment {{ total_comments|pluralize }}
        </h2>
    {% endwith %}

    {% for comment in comments %}
        <div class="comment">
            <p>
                Comment {{ forloop.counter }} by {{ comment.name }}
                {{ comment.created }}
            </p>
            {{ comment.body|linebreaks }}
        </div>
        {% empty %}
        <p>There are no comments.</p>
    {% endfor %}

    {% include "news/article/includes/comment_form.html" %}

{% endblock %}